

#fale-conosco{
    padding: 10px;
    padding-top: 20px;
    padding-left: 20px;
}

textarea {
    border-radius: 20px;
}

input{
    border-radius: 0 20px 20px 0;
}

main p{
    margin-left: 20px;
    font-size: 105%;
}

#contato{
    margin: 20px;
}

/*Começo do codigo copiado*/

legend,
label{
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 5px;
}
label[for="nome"],
label[for="email"],
label[for="mensagem"]{
    display: block;
}

#assunto-fieldset{
    padding-top: 1em;
}

input[id="nome"],
input[id="email"],
textarea{
    font-family: inherit;
    font-size: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: .25em .5em;
    width: 60%;
}
fieldset > fieldset {
    display: inline;
}
label[for="Outro"] {
    display: inline;
}
input[name="assunto-outro"]{
    width: auto;
    display: none;
}
textarea:focus{
    background-color: #ffd;
}
input:invalid{
    box-shadow: 0px 0px 3px red;
}
button{
    border: 0px;
    background-color: #0154a2;
    font-size: 1.2em;
    font-family: "Open Sans Condensed", sans-serif;
    color: white;
    padding: .5em 1em;
    margin-top: 1em;
    border-radius: 10px;
}
button:hover,
button:focus{
    background-color: #3576b6;
}
input[value="Outro"]:checked ~ input{
    display: inline;
}

.com-icone::after {
    content: '';
    width: 2em;
    height: 2em;
    background-color: #0154a2;
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 115%;
    left: 0;
}
.com-icone {
    position: relative;
}
.com-icone + input {
    position: relative;
    left: 2em;
    width: calc(60% - 2em);
}
.com-icone[for="nome"]::after {
    background-image: url(../img/usuario.png);
}

.com-icone[for="email"]::after {
    background-image: url(../img/email.png);
}

/* Fim do codigo copiado*/